// 
// Masthead
// 

header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - #{$navbar-height});

    // The background here overlays the video

    background: linear-gradient(to bottom, #{fade-out($brown, 0.8)} 20%, #{fade-out($brown, 0.5)} 100%);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 2.25rem;
    }

    .videobg {
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100%;
        position: absolute;
        object-fit: cover;
        z-index: -1;
    }

    .content {
        z-index: 1;
    }

    @include media-breakpoint-up(lg) {
        height: 100vh;
        min-height: 40rem;
        padding-top: 0;
        padding-bottom: 0;

        p {
            font-size: 1.15rem;
        }

        h1 {
            font-size: 3rem;
        }
    }

    @include media-breakpoint-up(xl) {
        h1 {
            font-size: 3.5rem;
        }
    }
}
